<main>
  <app-nav></app-nav>
  <div class="timerBox" *ngIf="voteStatus">
    <app-timer (voteStatus)="voteStatusHandler($event)"></app-timer>
  </div>
  <div class="closeMessage" *ngIf="!voteStatus">
    <h1>투표종료</h1>
    <p>매일 09:00 ~ 11:00 투표가 진행됩니다</p>
  </div>
  <div class="foodRain" *ngIf="!voteStatus">
    <app-food-rain2></app-food-rain2>
  </div>
  <div class="mainContainer">
    <section>
      <div class="section001">
        <div class="myVoteBox" >
<!--          *ngIf="myVoteStatus && voteStatus"-->
          <div class="subTitleBox" *ngIf="voteStatus">
            <app-sub-title>
              <h2>내가 투표한 장소</h2>
            </app-sub-title>
          </div>
          <div class="myVote" *ngIf="myVoteLocationData && voteStatus">
            <img class="myVoteImg" [src]="myVoteLocationData?.img"/>
            <div class="description">
              <h2>{{myVoteLocationData?.title}}</h2>
              <div class="category">{{myVoteLocationData?.category}}</div>
              <mat-card-actions class="buttonBox">
                <button
                  mat-raised-button
                  (click)="modalVoteCancelOpen(true)"
                >투표취소
                </button>
                <button mat-flat-button (click)="myVoteLocationDetailHander(myVoteLocationData.id)">상세보기</button>
              </mat-card-actions>
            </div>
          </div>
        </div>
<!--        <div class="myVoteEmpty" *ngIf="!myVoteStatus && voteStatus">-->
        <div class="myVoteEmpty" *ngIf="!myVoteLocationData && voteStatus">
          <div class="myVote">
            <h3>현재 투표한 장소가 없습니다.</h3>
          </div>
        </div>
        <div class="rankTopBox" *ngIf="!voteStatus">
          <app-rank-top [voteData]="voteData" (page)="pageStatusHandler($event)" />
        </div>
      </div>
      <div class="section002">
        <div class="subTitleBox"  *ngIf="voteStatus">
          <app-sub-title>
            <h2>투표 순위</h2>
          </app-sub-title>
        </div>
        <div class="rankBox" *ngIf="voteStatus">
          <ul>
            <app-rank-card [voteData]="voteData"/>
          </ul>
        </div>
      </div>
      <div class="section003" *ngIf="voteStatus">
        <div class="commingSoon">
          <div class="subTitleBox">
            <app-sub-title>
              <h2 style="font-size: 20px">리뷰서비스(Comming Soon!)</h2>
            </app-sub-title>
          </div>
          <app-review-card
            (reviewCardInfo)="reviewRegisterModal($event)"
          />
        </div>
      </div>
    </section>
    <div class="subTitleBox voteLocation" *ngIf="voteStatus">
      <app-sub-title>
        <h2>투표 장소</h2>
      </app-sub-title>
    </div>
    <div class="locationContainer">
      <app-card
        [data]="data"
        [show]="voteStatus"
        (status)="modalRepresetReq($event)"
        (status2)="modalRepresetReq2($event)"
        (myVoteId)="myVoteIdHandler($event)"
        (id)="idRes($event)"
      >
      </app-card>
    </div>
    <app-modal
      [width]="975"
      [height]="805"
      [status]="status"
      (close)="closeHandler($event)"
      *ngIf="modalContent == 'modalDetail'"
    >
      <app-location-detail [id]="id" [changeInfo]="locationChangeInfo"/>
    </app-modal>
    <app-modal
      [width]="636"
      [height]="808"
      [status]="status"
      (close)="closeHandler($event)"
      *ngIf="modalContent == 'modalReviewRegister'"
    >
      <app-review-register [reviewCardId]="reviewCardId"/>
    </app-modal>
    <app-modal
      [width]="506"
      [height]="308"
      [status]="status"
      (close)="closeHandler($event)"
      *ngIf="modalContent == 'modalVoteCancel'"
    >
      <div class="questionBox">
        ?
      </div>
      <h2 class="confirm">투표한 장소를 취소하시겠습니까?</h2>
      <button
        class="modalConfirm"
        mat-raised-button
        (click)="voteCancel()"
      >투표취소
      </button>
    </app-modal>
    <app-modal
      [width]="506"
      [height]="280"
      [status]="status"
      *ngIf="modalContent2 == 'modalVoteChange'"
    >
      <div class="questionBox">
        <svg width="80" height="80" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.6 10.9999C20.6 16.3018 16.302 20.5999 11 20.5999C5.69809 20.5999 1.40002 16.3018 1.40002 10.9999C1.40002 5.69797 5.69809 1.3999 11 1.3999C12.5062 1.3999 13.9314 1.74677 15.2 2.36498M18.8 4.9999L10.4 13.3999L8.00002 10.9999" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      <h2 class="confirm">투표 장소가 "{{myVoteLocationData?.title}}" 장소로<br /> 변경되었습니다.</h2>
    </app-modal>
  </div>
  <button class="trans" (click)="transform()">전환</button>
</main>
